[2018-04-14 06:22] shivamrewa9981 opened #1 "Album Artwork Size is Small"
ONLY PROBLEM IS WITH ALBUM ARTWORK!
BECAUSE THIS EXTENSION IS ALWAYS FETCHING SMALL THUMBNAILS!
So Can U fix This to A HQ Artwork Instead???

[2018-05-07 20:47] spiDIMan commented on #1
Use [this](https://github.com/naqushab/saavn-downloader-extension/issues/1) fork I made.
ps. This is the best image Saavn has to offer.

[2018-05-07 20:48] spiDIMan commented on #1
Use [this](https://github.com/spiDIMan/saavn-downloader-extension/tree/patch-1) fork I made.
ps. This is the best image Saavn has to offer.

[2018-05-11 22:17] naqushab commented on #1
Looks like @spiDIMan has already fixed it. Hey @spiDIMan , care to raise a pull request for it? I will merge your changes along with it.
@shivamrewa9981 does that solve your problem?

[2018-06-05 16:10] spiDIMan commented on #1
Added the pull request.

[2018-06-07 23:36] naqushab commented on #1
@shivamrewa9981 This should get fixed in latest changes. Thanks to @spiDIMan

[2018-06-07 23:36] #1 closed

[2018-07-20 23:15] ReptileLDN opened #3 "Not working"
Downloads small file versions of the mp3 but not full tracks, please fix.

[2018-07-21 12:14] ReptileLDN commented on #3
https://github.com/naqushab/saavn-downloader-extension.git

[2018-07-21 12:37] naqushab commented on #3
Nope, the song that you're trying to download. I see the extension is working fine for me. Like for this  [song](https://www.saavn.com/s/song/hindi/Nawabzaade/High-Rated-Gabru/Hz8YZgJFcWY) it is working fine.

[2018-07-21 12:44] ReptileLDN commented on #3
https://www.saavn.com/s/album/hindi/Kalia-1997/pQoC89nA,OA_

[2018-07-21 13:03] naqushab commented on #3
All songs are downloading fine for me.
I am using Chrome browser. Have you tried downloading the songs individually? Is this problem a url specific or is supposed to happen on all urls?

[2018-07-21 21:14] ReptileLDN commented on #3
Sorry for the late reply just got home from work
I tried downloading the files individually but only the first track fully downloads the rest download at a smaller size 100 kb per mp3 file, really weird, not the full track just 100kb equivalent of the mp3.
It happens specific urls like this one as well: https://www.saavn.com/s/album/hindi/Mard-1985/DpkX19nBD2I_ + https://www.saavn.com/s/album/hind

[2018-07-22 17:48] naqushab commented on #3
The extension is not IP dependent. I request you to try on a fresh install Chrome or Firefox and see if the problem persists. Also, try downloading in lower quality(128kbps for example) and see if that helps.
For me, the issue is non-reproducible. So I am closing this issue till anyone else reports or I get any other details.

[2018-07-22 17:48] #3 closed

[2018-09-10 10:55] siddheshsalunkhe opened #4 "some songs were not downloaded"
hello buddy. you did nice work but there are some bugs. thats why i can't download some songs. for example. tum mile album.

[2018-09-21 22:13] naqushab commented on #4
I tried it. Some of the songs are not 320kbps on the website itself. try lowering the download quality and then download the album. I have tried it myself.

[2018-09-21 22:13] #4 closed

[2018-10-09 06:58] BobWs opened #5 "Full album downloads doesn’t work"
Tried the extensions (Firefox and chrome) but full album download does not work properly. When you click on the download button next to the album title it seems that the download starts but after a while nothing happens there is no file or whatever.

Also when downloading single songs not all of the songs are downloaded. With chrome empty mp3 files where downloaded. And with Firefox nothing happen

[2018-10-09 07:02] naqushab commented on #5
Can you please provide the link of the song and the albums you want to download? My guess is, the song isn't available in the quality mentioned by you, that's why it is giving nothing/empty file.

[2018-10-09 07:06] BobWs commented on #5
This is the album I tested:
https://www.saavn.com/s/album/hindi/Om-Shanti-Om-2007/EPJXYk,wkdA_?&utm_content=wap:search_results:top_result:select_album:click&utm_page=search_results&utm_button=top_result

[2018-10-20 14:34] BobWs opened #6 "download individual tracks with tracknumber"
Hi, is it possible to download individual tracks along with the corresponding track-number? Now it is so that when one download an individual song/track there is no track-number.

[2018-12-02 14:58] tamilmusiq opened #7 "saavn changed to jiosaavn"
extension working fine before its had changed. after changed to jiosaavn extension does not works. Please udpate it

[2018-12-02 20:35] SWARUP24 opened #8 "SAAVN IS CHANGE NOW IS JIOSAAVN"
SAAVN IS CHANGE NOW IS JIOSAAVN PLEASE FIXED THIS ISSUE

[2018-12-03 09:33] OmkarK45 opened #9 "Not Working !"
Hey thanks buddy for updating the extension. Appreciate the effort but the new extension is not downloading complete song from jiosaavn. It is downloading only some part of it (100kB to 200kB). Hope you fix that.
![capture](https://user-images.githubusercontent.com/45557594/49365375-a1249e80-f70c-11e8-99ce-e29a0e87a635.JPG)

[2018-12-03 09:38] tamilmusiq commented on #9
is this extension is updated? after saavn changed to jiosaavn?

[2018-12-03 09:41] OmkarK45 commented on #9
Yes

On Mon, Dec 3, 2018, 15:08 tamilmusiq <notifications@github.com wrote:

[2018-12-03 09:42] OmkarK45 commented on #9
https://github.com/justiriser/JioSaavn-Downloader-Chrome-Extension

[2018-12-03 12:13] OmkarK45 commented on #9
Update : Its working now

[2018-12-03 12:51] tamilmusiq commented on #9
Thanks working fine 👍

[2018-12-04 08:13] OmkarK45 commented on #8
Use this updated ext https://github.com/justiriser/JioSaavn-Downloader-Chrome-Extension/blob/master/README.md

[2018-12-04 17:39] sharan-aadarsh commented on #7
Same issue

[2018-12-04 18:44] naqushab commented on #8
The issue is now fixed. Thanks to @justiriser

[2018-12-04 18:44] #8 closed

[2018-12-04 18:44] naqushab commented on #7
@sharan-aadarsh @tamilmusiq  The issue is now fixed. Thanks to @justiriser

[2018-12-04 18:44] #7 closed

[2018-12-04 18:45] naqushab commented on #9
The issue is now fixed. Thanks to @justiriser

[2018-12-04 18:45] #9 closed

[2018-12-04 18:50] OmkarK45 opened #12 "Please make a Firefox extension"

[2018-12-17 18:15] babz1989 commented on #9
I'm still getting this error even with @justiriser fix

[2018-12-17 18:21] babz1989 opened #13 "Songs not downloading properly - only 200kb in size"
When I try to download a song, it does not do it properly as the file sizes are in the 200kb range. I've tried @justiriser fix but it's not working for me
![capture](https://user-images.githubusercontent.com/45948464/50106684-6b150d80-0228-11e9-9fb0-2c35c1b1d220.PNG)
![capture2](https://user-images.githubusercontent.com/45948464/50106705-7b2ced00-0228-11e9-8ae0-50f35f155025.PNG)

[2018-12-17 18:24] babz1989 commented on #13
maybe it's this, there's an error in the chrome extensions page
![capture3](https://user-images.githubusercontent.com/45948464/50106860-ed9dcd00-0228-11e9-89de-66e41e5d69c9.PNG)

[2018-12-18 01:48] naqushab commented on #9
Can you please share the link from where you are trying to download the
music?

On Mon, Dec 17, 2018, 11:45 PM babz1989 <notifications@github.com wrote:

[2018-12-18 15:43] babz1989 commented on #9
https://www.saavn.com/search/long%20drive

[2018-12-21 19:11] yashjahit-21705201 commented on #13
I don't think that is the problem, as it just means the variable len wasn't declared. It must be something on JioSaavn side

[2018-12-24 00:52] N4pst3rX opened #14 "Songs with the Tiltle (name) more than 25 letters are not downloading..."
first of all thank you for making this extension it helps me a lot .. i am  facing an issue that the song name exceeds 25+ letters it won't download .. Try to fix this issue please.

[2018-12-28 11:11] Princeyadav05 opened #15 "Stuck on Downloading Album Artwork"
Songs are not being downloaded and the script is stuck on "Downloading Album Artwork". Happening for every song.

[2018-12-28 14:19] Princeyadav05 commented on #15
Errors in the extension.
[Link](https://i.imgur.com/yeoc8kJ.jpg)

[2018-12-29 00:49] naqushab commented on #15
Thanks @Princeyadav05 . I'll look into it. Is this happening for every song or anything in particular?

[2018-12-29 00:49] naqushab commented on #14
Can you please specify the URL of the song that made you encounter this bug?
Thanks.

[2018-12-29 00:50] naqushab commented on #13
Thanks for the detailed report. Will definitely look into it.

[2018-12-29 00:53] naqushab commented on #12
Hritwik used to manage the Firefox extension which is deprecated due to new security changes. Will try to en corporate them and publish the FFX extension soon.

[2018-12-29 00:58] naqushab commented on #6
Do you want the track number in the metadata or in the title?

[2018-12-29 02:20] OmkarK45 commented on #12
Thank You so much .. <3

[2019-01-11 03:57] OmkarK45 commented on #12
Any update bro ?

[2019-01-15 02:33] Jayanthbm opened #16 "Some Songs in the album not downloading"
I am trying to download songs from this album
https://www.jiosaavn.com/album/preethsod-thappa.../kMH2Vsh64h0_

the first song in the album is downloaded but the 4th and 7th songs are not downloading
the link text download next to sog changed to downloading

Error log and Screen attached below
<img width="636" alt="screenshot 2019-01-15 at 8 00 15 am" src="https://user-images.githubusercontent.com/

[2019-01-24 07:22] falthu commented on #15
Can't downloading single song...please fix it

[2019-02-10 13:32] BobWs commented on #6
I guess in the title would be fine.
Thanks!

[2019-02-20 11:41] deepu2 opened #17 "Cannot find the Firefox add-on"
The link for Firefox add-on given in the readme does not work.

[2019-03-13 15:06] mrajibrm commented on #15
![image](https://user-images.githubusercontent.com/44160545/54289671-944afd00-45cf-11e9-8c88-e9e45917fa07.png)

This is the error.

[2019-03-23 07:16] BobWs commented on #17
Link is not working, please can you update the readme

[2019-04-03 12:51] ronxiibang commented on #13
okay i have it tested now just switch downloading quality to 128kbps on those songs which shows downloading

[2019-04-03 16:40] yashjahit-21705201 commented on #13
Also tested now and it is working again. Thank you!

[2019-04-04 18:45] ronxiibang commented on #13
yes because those albums were old and that is reason they are not available in 320kbps on savaan

[2019-04-06 13:16] mujunk commented on #16
I have the same issue. Only 27 songs from a 55 song playlist downloaded.
https://www.jiosaavn.com/featured/90s-king---kumar-sanu/QeBmhG7Y1uE_

[2019-04-09 00:53] kshaik7 opened #18 "Songs of Playlist downloaded in 100-200 kb size"
When i download songs off a playlist they only download a file with nothing but the name of the song.

[2019-04-13 02:28] kshaik7 commented on #18
Also when downloading playlists not all songs are downloaded. For ex: out of a playlist of 10-15 songs, 4 will be successfully downloaded.

[2019-04-22 20:11] yashjahit-21705201 commented on #15
Same error happenning here also

[2019-04-23 04:55] Princeyadav05 commented on #15
Hey @yashjahit-21705201 @mrajibrm @falthu
Use this one: https://github.com/justiriser/JioSaavn-Downloader-Chrome-Extension/commits/master
This one is working fine.

[2019-05-17 07:52] Mohit-Vadsak opened #19 "The download is not happening"
![image](https://user-images.githubusercontent.com/32741263/57911922-b2223000-78a6-11e9-9b39-8dd362ec60a1.png)

this error is given by the extension

[2019-05-24 16:54] excel223 opened #20 "download while using jiosaavn radio feature"
i think you should add a download button in player while we listening to jiosaavn radio

[2019-06-19 11:57] rubbesh commented on #13
Some song have only 183kb while downloading

[2019-06-20 22:43] naqushab commented on #13
The reason that some songs are of few KBs in size is because they are not available in selected quality (320kbps for example). Try changing the Download quality from top right dropdown and see if problem persists. There is no way to see if a song is available in a mentioned quality.

[2019-06-20 22:43] #13 closed

[2019-06-20 22:44] naqushab commented on #14
Closing as no response. Reopen if help is required.

[2019-06-20 22:44] #14 closed

[2019-06-20 22:50] naqushab commented on #15
The reason that some songs are of few KBs in size is because they are not available in selected quality (320kbps for example). Try changing the Download quality from top right dropdown and see if problem persists. There is no way to see if a song is available in a mentioned quality.

[2019-06-20 22:50] #15 closed

[2019-06-20 22:51] naqushab commented on #17
FF extension is discontinued, please use Chrome method to use the extension.

[2019-06-20 22:51] #17 closed

[2019-06-20 22:52] naqushab commented on #19
Share me the song URL and I'll try to debug the cause.

[2019-06-20 22:53] naqushab commented on #18
The reason that some songs are of few KBs in size is because they are not available in selected quality (320kbps for example). Try changing the Download quality from top right dropdown and see if problem persists. There is no way to see if a song is available in a mentioned quality.
Playlist and Albums can have such songs will will lead to having such files in them too. Try selecting the next best

[2019-06-20 22:53] #18 closed

[2019-06-20 22:53] naqushab commented on #16
The reason that some songs are of few KBs in size is because they are not available in selected quality (320kbps for example). Try changing the Download quality from top right dropdown and see if problem persists. There is no way to see if a song is available in a mentioned quality.
Playlist and Albums can have such songs will will lead to having such files in them too. Try selecting the next best

[2019-06-20 22:53] #16 closed

[2019-06-20 22:53] naqushab commented on #5
The reason that some songs are of few KBs in size is because they are not available in selected quality (320kbps for example). Try changing the Download quality from top right dropdown and see if problem persists. There is no way to see if a song is available in a mentioned quality.
Playlist and Albums can have such songs will will lead to having such files in them too. Try selecting the next best

[2019-06-20 22:53] #5 closed

[2019-06-20 22:56] naqushab opened #21 "Fallback to next best quality of song if a song is not available in a particular download quality"
The reason that some songs are of few KBs in size is because they are not available in selected quality (320kbps for example). There is no way to see if a song is available in a mentioned quality for now.
Playlist and Albums can have such songs will will lead to having such files in them too.

If we can fallback to next best quality that is available to download, it will solve this problem.

[2019-06-20 23:00] naqushab commented on #12
I haven't looked at this project for quite some time due to time crunch. I've updated issue and hopefully I (if time permits) or any one else can do this.

[2019-06-20 23:14] rubbesh commented on #13
Thank you

On Fri 21 Jun, 2019, 4:13 AM Naqushab Neyazee, <notifications@github.com>
wrote:

[2019-06-23 07:10] naqushab commented on #19
Several changes put in. Please reopen if not fixed.

[2019-06-23 07:11] #19 closed

[2019-07-11 01:34] KannaDev opened #22 "FLAC quality?"
Is it possible to add FLAC (1411 kbps) quality in the download options? Lossless is so much better than 320kbps compressed mp3 files. Would love to see a FLAC option.

Other than that great work you've done here! Really nice tool.

[2019-07-12 20:47] naqushab commented on #22
Sorry man. Flac is no where in the json response. I hear some good things about DeezLoader and SMloadr. But not in this.

[2019-07-12 20:47] #22 closed

[2019-08-01 04:19] pdave1979 opened #23 "Saavn Downloader"
I have added saavn Downloader into my chrome extension. But suddenly stopped to download songs. Not getting any error but only showing "Downloading Album Art" status at below saavn page. Please help.

[2019-08-26 03:11] deep5050 opened #24 "No cancel button for accidental download"
It would be great if there is a cancel button for accidental download.

[2019-08-29 06:01] dharmendra98 commented on #21
I think i can give it a try.

[2019-08-31 09:21] naqushab commented on #21
I would really appreciate the effort. Raise a PR for it whenever you can.

On Thu, Aug 29, 2019, 11:32 AM Dharmendra <notifications@github.com> wrote:

[2019-10-02 16:35] rubbesh opened #25 "🥺Not working 😭😭"
chrome extension not working 😿

[2019-10-10 08:55] the-geek-in-glasses opened #26 "Error generated while downloading"
while downloading some songs error is generated that prevents the songs from being downloaded i tried to understand and fix this issue but was unable to...please fix it,regards.

![Capture](https://user-images.githubusercontent.com/50513050/66553941-abec6300-eb69-11e9-9ae5-3336f8d2f7d3.JPG)

[2019-10-18 05:21] omendra9 opened #27 "not able to download"
![Screenshot 2019-10-18 at 10 49 50 AM](https://user-images.githubusercontent.com/29342614/67067748-19fddf00-f195-11e9-8c41-7a557b9e0cfe.png)
![Screenshot 2019-10-18 at 10 51 01 AM](https://user-images.githubusercontent.com/29342614/67067778-33069000-f195-11e9-8bb7-de37ef318840.png)

[2019-11-26 05:37] Farzan1234 opened #28 "not able to download songs from this extension"
http://justiriser.blogspot.com/2018/12/download-songs-from-jiosaavncom-to-mp3.html

[2019-11-26 17:27] justiriser commented on #28
did u downloaded the zip file... proceed with the steps mentioned... it should work

[2020-04-25 06:36] manishholla opened #29 "working flawlessly"
This extension is awesome. Working flawlessly in my Acer Aspire 3 with Windows 10 Pro and Chrome build Version 81.0.4044.122 (Official Build) (64-bit)

[2020-05-01 16:42] naqushab commented on #29
thanks.

[2020-05-01 16:42] #29 closed

[2020-05-17 20:46] HritwikSinghal commented on #21
if status code of song download url doesn't return 200, replace '_320.mp3" with '.mp3'

[2020-05-22 04:27] ADVALAKI opened #30 "Jiosavan web interface changed. download functionality not working"
Today jiosavan change its web interface and now injaction of download button near song and on playlist not working.

so cant able to download song.

can you please fix it.

let me know if you need more information

Thanks.

[2020-05-24 05:34] ADVALAKI commented on #30
@naqushab can you please fix it with new jiosavan interface.

it would be great. i try it myself but not succeed.

Thanks.

[2020-05-31 05:19] Naresh-bot opened #31 "Download icon missing"
I have been using your extension for more than a year, it was working good untill the jiosaavn website updated their looks. It seems like there was a problem. Download icon is not showing. Please do something.

[2020-06-01 09:43] ADVALAKI commented on #31
Duplicate #30

[2020-06-02 05:29] rubbesh opened #32 "Not working"
Jio web page updated

[2020-06-02 05:31] rubbesh commented on #30
True

[2020-06-02 05:31] rubbesh commented on #31
Sad

[2020-06-03 13:16] Sanj2020 opened #33 "this is not working for download song from jiosaavan new web page"
Sir I love this extension but few days the Jiosaavan.com update his web page so new page I can download any song with this extension so I request to you please fix this

[2020-06-05 06:59] HritwikSinghal commented on #33
@naqushab saavn changed the url of song after decrpytion, now its 'aac.saavncdn.com/935/e234433555a6c343c2c8b6576db66c32_96.mp4'
which redirects to any one of jio cdn ( like 'http://schnncdnems02.cdnsrv.jio.com/h.saavncdn.com/935/e234433555a6c343c2c8b6576db66c32_96.mp4') and this url has new song.

so after redirecting, just replace the '_96.mp4' part in last with '_320.mp3' and check if 200 statu

[2020-06-05 15:16] naqushab commented on #33
Thank you. I'll look into it and get back to you. Thanks for the
investigation, it will help.

On Fri, Jun 5, 2020, 12:29 PM Hritwik <notifications@github.com> wrote:

[2020-06-05 15:17] naqushab commented on #30
Let me check and when I'll have some free time. I'll change it as soon as I
can. Thank you for reporting it.

On Tue, Jun 2, 2020, 11:01 AM rubbesh <notifications@github.com> wrote:

[2020-06-05 18:00] onlynir commented on #33
naqushab Sir, please develop one tool for Gaana also.  I have more than 50 albums link which is not available at Savaan.  Therefore I am not able to download those albums. I am eagerly requesting to You.

[2020-06-17 02:01] binalbhavsar1 opened #34 "where it download ?"
where it donwload ?

[2020-06-22 22:39] naqushab commented on #23
Duplicate of #30

[2020-06-22 22:39] #23 closed

[2020-06-22 22:40] naqushab commented on #34
irrelavant right now. Duplicate of #30

[2020-06-22 22:40] #34 closed

[2020-06-22 22:42] naqushab commented on #33
Its a feature request. I would try to move to a unified approach but not in a foreseeable future.

[2020-06-22 22:42] naqushab commented on #32
Duplicate of #30

[2020-06-22 22:42] #32 closed

[2020-06-22 22:42] naqushab commented on #31
Duplicate of #30

[2020-06-22 22:42] #31 closed

[2020-06-22 22:44] naqushab commented on #26
Duplicate of #30

[2020-06-22 22:44] #26 closed

[2020-06-22 22:44] naqushab commented on #27
Duplicate of #30

[2020-06-22 22:44] #27 closed

[2020-06-22 22:44] naqushab commented on #28
Duplicate of #30

[2020-06-22 22:44] #28 closed

[2020-06-22 22:49] naqushab commented on #33
@HritwikSinghal how did you came across this new URL? I can search for the decrypting logic but it would be easier if you just told me and I reuse that. :)

[2020-06-23 04:52] dilipach opened #35 "No downloading button appearing"
There is not showing the downloading button behind the song

[2020-06-23 04:53] pdave1979 opened #36 "Saavn Downloader"
I have installed this extension. but not showing download button in the new saavn website.

[2020-06-23 07:18] ADVALAKI commented on #36
Its fixed after this commit. https://github.com/naqushab/saavn-downloader-extension/commit/3b864097600c820386da4cd6e8011cb4010e09ea

but till not able to download songs.

[2020-06-23 07:21] ADVALAKI commented on #36
Found solutions.

You need to download this extension to make download work propely.

https://chrome.google.com/webstore/detail/moesif-orign-cors-changer/digfbfaphojjndkpccljibejjbppifbc

[2020-06-23 07:58] HritwikSinghal commented on #33
Saavn changed their whole interface again, so now i get encrypted media url from their api. Then i decrypt it using the already known scheme which is used till now, Then the url looks like this "http://aac.saavncdn.com/430/5c5ea5cc00e3bff45616013226f376fe_96.mp4" so replace '_96' with '_320' and open it in browser tab. so That would Be the download Url now.

Now, if you replace 'aac.saavncdn.com'

[2020-06-23 10:24] naqushab commented on #36
Thanks @ADVALAKI for helping out others. Closing this issues as it is fixed in #40

[2020-06-23 10:24] #36 closed

[2020-06-23 10:24] naqushab commented on #35
Fixed in #40 . Please read instructions on how to use it and you should be able to see button and download the songs.

[2020-06-23 10:24] #35 closed

[2020-06-23 10:26] naqushab commented on #33
good stuff @HritwikSinghal ! I'll give it a read. meanwhile I have added the download option back using an unoffical Jiosaavn api.

[2020-06-23 10:26] #33 closed

[2020-06-23 10:28] naqushab commented on #30
Fixed in #40 Make sure you follow instructions and you should be able to download songs now

[2020-06-23 10:28] #30 closed

[2020-06-23 10:28] naqushab commented on #25
Fixed in #40
Follow read me and you should start seeing the download options reappear

[2020-06-23 10:28] #25 closed

[2020-06-23 10:29] naqushab commented on #21
Good catch @HritwikSinghal . I'll add that as a part of the code

[2020-06-23 10:29] #21 closed

[2020-06-23 17:37] rubbesh commented on #25
Gaana extension

[2020-06-24 01:07] naqushab commented on #25
@rubbesh can you show me screenshots? Are you saying you are not seeing the download icon or you want 128kbps music? Also, just add a new issue and don't rename the old issues.

[2020-06-24 01:23] rubbesh opened #41 "128kbps not working please fix"
![Screenshot_20200624-064644](https://user-images.githubusercontent.com/51996035/85485886-43ee8780-b5e7-11ea-8718-cc36bf89fcd6.png)
This is 320kbps working
![Screenshot_20200624-064758](https://user-images.githubusercontent.com/51996035/85485939-5b2d7500-b5e7-11ea-9780-2af22fdd16fc.png)

[2020-06-24 01:24] rubbesh commented on #41
320kbps perfect working

[2020-06-24 01:41] naqushab commented on #41
@rubbesh Please provide the link as well. Let me see what has to be done. :)

[2020-06-24 02:06] naqushab commented on #41
Got the issue @rubbesh I'll fix the issue today and you should be able to get 128kbps audio as well. :)

[2020-06-24 02:14] naqushab commented on #41
Issue fixed in [5e52099](https://github.com/naqushab/saavn-downloader-extension/commit/5e520991324e9e3183f63dffd04ab2ce1cb7f270)
128kbps downloads should now work. Shoutout to @HritwikSinghal for pointing it out earlier in a github issue.

[2020-06-24 02:14] #41 closed

[2020-06-24 02:40] rubbesh opened #42 "♥️"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-24 03:23] ADVALAKI opened #43 "[BUG] Download progress bar is missing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to URL '...' : Open Any song
2. Click on '....' : Click on Download button its only show clock icon. ( download progress-bar is missing)
3. See error : BasicallySongs downloaded successfully in background. but progress bar is missing.

**Expected behavior**
A clear and

[2020-06-24 04:16] naqushab commented on #43
Hi @ADVALAKI ,
Actually after the UI overhaul i decided not to put more work on download bar on bottom as it itself is more work. And if you've seen the jiosaavn pro, the download progress is consistent with what I have provided.
I'd happy to accept any PR to add it in case someone wants to add, but for now this will be an enhancement and more of a nice to have feature.

[2020-06-24 04:19] naqushab commented on #42
Hi @rubbesh ,

I looked at the GaanaAPI link that you've provided. From what I have seen the download link from the JSON was not working.
I have added a repo for Gaana Download extension but for now i am not working on it till the download url gets fixed in GaanaAPI

[2020-06-24 04:23] rubbesh commented on #42
😍

[2020-06-24 05:27] pdave1979 commented on #36
not working...not showing download button in saavn.

On Tue, Jun 23, 2020 at 12:51 PM Alpesh Valaki <notifications@github.com>
wrote:

--
Regards,
Parimal Dave

[2020-06-24 06:14] ADVALAKI commented on #36
Make sure you turn on CORS extension after installation.
As a security measure by default it turn off.

[2020-06-24 06:17] ADVALAKI commented on #43
you mean to say in jiosavan pro progress bar is working fine.?

By the way you have done great work on this two days to make this extension functional again.

hats off for this. :+1:

[2020-06-24 07:17] pdave1979 commented on #36
now it showing download button but when I clicked on download button the
song downloading progress button showing  but not downloaded. I have waited
15 mins.

[image: image.png]

On Wed, Jun 24, 2020 at 11:44 AM Alpesh Valaki <notifications@github.com>
wrote:

--
Regards,
Parimal Dave

[2020-06-24 12:19] naqushab commented on #43
No. I meant there is no progress bar in JioSaavn pro as well (which has the official download option support). It also shows this downloading circle when clicked on Download icon. The progress bar changes take a lot of time and itself is quite buggy which is why I used Jiosaavn's own downloading icon and not that. Hopefully, once I am done with all functional changes I can re-look into that again.

[2020-06-24 16:25] HritwikSinghal commented on #12
i have already published FF addon, but it was old one which doesn't work now. I will update it as soon as you will finalize this ( using afficial API's).

[2020-06-24 16:28] HritwikSinghal commented on #21
Instead of directly falling back to 128, you can first try 160 then fall back to 128.

[2020-06-25 05:47] pdave1979 commented on #36
have u seen the below ?

---------- Forwarded message ---------
From: Parimal Dave <dave.parimal@gmail.com>
Date: Wed, Jun 24, 2020 at 12:47 PM
Subject: Re: [naqushab/saavn-downloader-extension] Saavn Downloader (#36)
To: naqushab/saavn-downloader-extension <
reply@reply.github.com>

now it showing download button but when I clicked on download button the
song downloading progress button showing

[2020-06-25 08:18] naqushab commented on #36
Please provide song link and a screenshot of the issue (if possible). It is working normally for others.

[2020-06-25 08:28] pdave1979 commented on #36
https://www.jiosaavn.com/album/mone-rakha-gaan---hemanta-mukherjee/RqJaDlRA8fM_

On Thu, Jun 25, 2020 at 1:48 PM Naqushab Neyazee <notifications@github.com>
wrote:

--
Regards,
Parimal Dave

[2020-06-27 06:04] bheemsinh opened #44 "[BUG]"
The extension is not loading with new JIOSaavn UI

please find log

(index):24 The key "minimium-scale" is not recognized and ignored.
(index):34 The key "minimium-scale" is not recognized and ignored.
(index):1 [Intervention] An <img> element was lazyloaded with loading=lazy, but had no dimensions specified. Specifying dimensions improves performance. See https://crbug.com/954323
(index):1 Access

[2020-06-27 07:57] naqushab commented on #44
Install cors extension additionally and enable it to use Jiosaavn extension as mentioned in the Readme.

[2020-06-27 07:58] #44 closed

[2020-06-27 15:30] bheemsinh commented on #44
Please confirm if this error is from my end ??

[image: image.png]
[image: image.png]

I Have already installed CORS and plugin as directed

[image: image.png]
[image: image.png]

Regards
Bheem

On Sat, Jun 27, 2020 at 1:28 PM Naqushab Neyazee <notifications@github.com>
wrote:

[2020-06-28 00:41] naqushab commented on #44
The images are not visible. How are you commenting? @bheemsinh

[2020-06-28 04:27] naqushab commented on #36
just tried the link and it works perfectly, both for 320kbps and 128kbps.
Make sure you have CORS extension installed and enabled to be able to use the download functionality.

[2020-06-28 04:32] pdave1979 commented on #36
Yes it already enabled both extension in chrome.

On Sun, 28 Jun, 2020, 9:57 AM Naqushab Neyazee, <notifications@github.com>
wrote:

[2020-06-28 06:08] pdave1979 commented on #36
now it is working fine...than you.

On Sun, Jun 28, 2020 at 10:01 AM Parimal Dave <dave.parimal@gmail.com>
wrote:

--
Regards,
Parimal Dave

[2020-06-28 16:07] bheemsinh commented on #44
Sorry, I was experiencing an issue, hence I just want to confirm, where I
am going wrong.
I have neither intention nor rights to comment.
Apologies if it is communicated, inappropriately.

On Sun, Jun 28, 2020 at 6:12 AM Naqushab Neyazee <notifications@github.com>
wrote:

[2020-06-28 23:43] #42 closed

[2020-06-29 04:09] naqushab commented on #44
@bheemsinh I'm sorry if you sensed my tone wrong. I am not saying that the issue is not valid.
I am asking how are you commenting so that I can tell you how to attach pictures in the comments as they are currently not visible.

[2020-06-29 04:10] naqushab commented on #44
Also I have updated the README.md with pictures so that it would be easier to follow through the steps. :)

[2020-06-29 04:11] naqushab commented on #36
thanks for informing. :)

[2020-06-29 06:26] bheemsinh commented on #44
Thanks,
After my first comment, I have sent images through the mail.
Hence those are not visible in github.

Regards
Bheem

On Mon, Jun 29, 2020 at 9:40 AM Naqushab Neyazee <notifications@github.com>
wrote:

[2020-07-09 06:38] s9ider opened #45 "Help"
Could not load tha manifest" in yendex browser in Android

[2020-07-09 06:41] rubbesh commented on #45
Bro try it, select it in file manager.👍

[2020-07-09 06:43] rubbesh commented on #45
![Screenshot_20200709-121234](https://user-images.githubusercontent.com/51996035/87005979-85815400-c1dd-11ea-866d-87b3877e4290.png)

[2020-08-16 14:43] ahsanurc opened #47 "Cross-Origin Read Blocking (CORB) blocked cross-origin response [BUG]"
**Describe the bug**
Cross-Origin Read Blocking (CORB) blocked cross-origin response https://jiosaavn-api.herokuapp.com/result/?query=https%3A%2F%2Fwww.jiosaavn.com%2Fsong%2Ftere-naal%2FKD8zfAZpZFo with MIME type application/json. See https://www.chromestatus.com/feature/5629709824032768 for more details.

**Screenshots**
![image](https://user-images.githubusercontent.com/69759806/90336975-4a78fa0

[2020-09-03 23:39] ibgchicago opened #48 "[BUG]"
**Describe the bug**
Downlaod is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to URL 'jiosaavn.com'
2. Click on 'downlaod sign'
3. See error
![Capture](https://user-images.githubusercontent.com/70726834/92183673-b87a4980-ee14-11ea-996e-d5598edebd72.JPG)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add

[2020-09-24 06:04] cachecleanerjeet opened #49 "Backend api"
If you think that your current api on heroku is slow then don't use heroku,

Use
[https://songapi.thetuhin.com](https://songapi.thetuhin.com)

Obviously that is based on my [Jiosaavn Api](https://github.com/cachecleanerjeet/jiosaavnapi) & that server is located on mumbai so you will get accurate result also, max latency 300ms

[2020-09-26 18:03] naqushab commented on #49
awesome @cachecleanerjeet i will take a look at it. if you wish to add that functionality I can give you the contributor access to you :)

[2020-09-26 18:05] cachecleanerjeet commented on #49
Sure ,

I will 😊

[2020-09-26 18:17] naqushab commented on #49
Awesome. Given you a collaboration access to the repo. Thank you! :)

[2020-09-26 18:18] #49 closed

[2020-09-26 18:18] naqushab commented on #45
I don't think this is designed for it. It is used only for chrome.

[2020-09-26 18:18] #45 closed

[2020-09-27 05:06] cachecleanerjeet opened #51 "Update README as per cachecleanerjeet's implementation details"
Check pull request & merge https://github.com/naqushab/saavn-downloader-extension/pull/50

[2020-09-27 05:07] cachecleanerjeet commented on #51
Update readme also

[2020-09-27 05:24] naqushab commented on #47
Should be tackled via https://github.com/naqushab/saavn-downloader-extension/pull/50

[2020-09-27 05:26] naqushab commented on #48
Works fine.. Please specify a particular song if that is the case and be descriptive in bug description and title, it makes me and other devs easily understand the flow.

[2020-09-27 05:26] #48 closed

[2020-09-27 20:31] ibgchicago commented on #48
for all the song's network errors. I am from the USA. Here is another
example

https://www.jiosaavn.com/album/abhilasha/aOeznBkIkdc_

[image: image.png]
[image: image.png]

On Sun, Sep 27, 2020 at 12:26 AM Naqushab Neyazee <notifications@github.com>
wrote:

[2020-09-27 20:38] ibgchicago commented on #48
I have tried song work before . same setup and now it's not working.

https://www.jiosaavn.com/album/shree-swaminarayan-gungan/sxVNwJc0HEI_

On Sun, Sep 27, 2020 at 3:31 PM Sanjiv Bhatt <shreeit@gmail.com> wrote:

[2020-09-27 22:51] ahsanurc commented on #48
The pictures you have just uploaded are not working. Please reupload them
so the creators can see. Thank you

On Sun, Sep 27, 2020, 4:38 PM ibgchicago <notifications@github.com> wrote:

[2020-09-28 06:13] #51 closed

[2020-09-28 07:16] cachecleanerjeet opened #52 "Question for add it on jiosaavnapi's readme?"
Hello. @naqushab

Can i add this project in <tt>using this api</tt> section of jiosaavnapi's readme ?

Section referance

https://github.com/cachecleanerjeet/JiosaavnAPI#using-this-api

[2020-09-28 07:41] cachecleanerjeet commented on #47
@naqushab No that was the issue with the api, that time there are no Access-Control-Allow-Origin present on the api response (maybe bcs you not update the api) so chrome blocked that.

@ahsanurc now that is fixed, closing the issue.

[2020-09-28 07:41] #47 closed

[2020-09-28 07:59] naqushab commented on #52
@cachecleanerjeet Yes, please go ahead. No need to ask for permission.

[2020-09-28 08:17] cachecleanerjeet commented on #52
Okay thanks ❤

[2020-09-28 08:17] #52 closed

[2020-09-28 08:27] cachecleanerjeet commented on #52
Added

https://github.com/cachecleanerjeet/JiosaavnAPI#using-this-api

[2020-10-03 14:49] ajstyles1234 opened #53 "i got the issue while downloding some songs"
i think song quality :-320kbps not working 192kbps worked for me only
 xhr.onload = function() {
        if (xhr.status === 200) {
            onload(xhr.response);
        } else {
            console.error(xhr.statusText + ' (' + xhr.status + ')');
        }
    };
    xhr.onerror = function() {
        console.error('Network error');

[2020-10-08 03:52] ibgchicago opened #54 "[BUG] Get error 403"
[**Describe](url) the bug**
A clear and concise description of what the bug is.

https://www.jiosaavn.com/album/surdas---sur-ke-shyam/SSSEQYR5WBw_

**To Reproduce**
Steps to reproduce the behavior:
1. Go to URL "https://www.jiosaavn.com/album/surdas---sur-ke-shyam/SSSEQYR5WBw_"
2. Click on download sign
3. See error (no download)

**Expected behavior**
Suppose to start download
![Capture](https://

[2020-10-13 07:24] cachecleanerjeet commented on #54
Actually the mp3/mp4 link is not accessible (Common Issue). Basically you can't download this song with this extension. Try to use other options such as youtube or [musicder](https://musicder.net)

[2020-10-13 07:26] cachecleanerjeet commented on #53
Yes that's bcs 320 kbps is not available for that song or not accessible,

[2020-10-13 07:26] #53 closed

[2020-10-13 21:28] ibgchicago commented on #54
Musicder does not give entire album (5 out of 11 songs), does not give songs IDs (title/#/bit rate/artist/album name etc unless I am missing something in setting

[2020-10-13 21:44] ibgchicago commented on #54
musicder only gives  4 songs from the album. I checked other albums too e.g
sur ke shyam.

On Tue, Oct 13, 2020 at 2:30 AM Tuhin Kanti Pal <notifications@github.com>
wrote:

[2020-10-23 05:02] ibgchicago commented on #54
Can you check the following link. Why I can't download

https://musicder.net/download/?id=vf7njWlK

Trying to download  commentary, 8 file from "Meera prem divani"

On Tue, Oct 13, 2020 at 2:24 AM Tuhin Kanti Pal <notifications@github.com>
wrote:

[2020-10-23 05:07] cachecleanerjeet commented on #54
Sir, musicder is a different project why do you create an issue of musicder here? @ibgchicago

[2020-10-23 06:16] ibgchicago commented on #54
Sorry.

On Fri, Oct 23, 2020 at 12:08 AM Tuhin Kanti Pal <notifications@github.com>
wrote:

[2020-10-23 13:49] naqushab commented on #54
Thanks @cachecleanerjeet for investigation. I use musicder. Nice app i must say! 😊

[2020-10-23 13:49] #54 closed

[2020-10-23 14:03] cachecleanerjeet commented on #54
Thank you sir @naqushab

[2020-10-26 13:02] Sanj2020 opened #55 "No Download song from jiosaavan please help me Bro"
I use your Excellent Extension to download Song From JIO SAAVAN Website But now this extenstion is not working bro please solve this problem

[2020-10-27 01:04] ibgchicago opened #56 "Stop working[BUG]"
**Describe the bug**
Can not download any song

**To Reproduce**
Steps to reproduce the behavior:
1. Go to URL 'https://www.jiosaavn.com/album/shree-swaminarayan-gungan/sxVNwJc0HEI_'
2. Click on 'downlaod sign'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Addition

[2020-10-28 15:56] onlynir opened #57 "Extension not working"
Hello Bhai,
I am not able to download songs from the website for the last ten days or more by using your awesome extension as Clicking on the download icon brings up a cross mark (photo attached).  Please take care of your beautiful creation and enable me to download more and more Bengali songs from the website as there is no good website that exists to download new Bengali songs and your extensio

[2020-10-30 03:36] kakkartushar1 commented on #57
not working for me as well

[2020-10-31 06:27] #6 closed

[2020-11-16 08:48] #56 closed

[2020-11-16 08:56] cachecleanerjeet commented on #57
Fixed https://github.com/naqushab/saavn-downloader-extension/commit/e5af385928f958970a6c4820d5e46918ebeccbd1

[2020-11-16 08:56] #57 closed

[2020-11-16 08:56] cachecleanerjeet commented on #55
Fixed https://github.com/naqushab/saavn-downloader-extension/commit/e5af385928f958970a6c4820d5e46918ebeccbd1

[2020-11-16 08:56] #55 closed

[2020-11-17 20:03] naqushab commented on #57
Thanks @cachecleanerjeet

[2020-11-18 02:32] cachecleanerjeet commented on #57
Welcome sir

[2020-11-18 17:15] cachecleanerjeet commented on #57
@naqushab You join here https://telegram.dog/t_projects we will discuss there, and a pro like you will be verymuch good for us as well

[2020-12-06 10:20] ashish261991 opened #58 "Not doing anything"
I have been using this since long and all of sudden it is not working on my machine,

I downloaded latest extension, When i click on download button , it takes forever and does nothing. it is happening all the time, i tried to download songs randomly then it worked but when i search a song and then try to download then it is not working.

[2020-12-06 10:39] cachecleanerjeet opened #59 "Jiosaavn is not providing mp3"
Most of the song are not getting mp3 from jiosaavn.

[2020-12-06 13:50] #59 closed

[2020-12-27 02:30] ahsanurc opened #60 "New Music Albums not Downloading"
Hi. Thanks for such a great extension! I have noticed that some songs especially the new songs are not downloading in 320kbps even though it is available. All songs for example in Coolie No. 1 (2020) are not downloading. Thanks for helping

For example here is an old one:

https://www.jiosaavn.com/album/love-breakups-zindagi/D6WiEZH6dMM_

It is available in 320kbps here:
https://aac.saavncdn.com/3

[2021-01-12 03:55] cachecleanerjeet commented on #60
Album links will not work for now, try to downlosd song individually

[2021-01-17 13:04] TharinduWishwadeepa opened #61 "Song download error"
I have tried to download **a song** from this Album https://www.jiosaavn.com/album/neththara-project-4/CBkWJoiP7-k_ This is a Sri Lankan music album.
So I got this error in Inspect Element -:
Failed to load resource: https://corsdisabledsong.tuhinwin.workers.dev/556/416c84a53ef2cc07d5044eab4c4cecca_320.mp3 the server responded with a status of 403 ()
Hindi songs are downloading perfectly.

[2021-01-19 18:56] cachecleanerjeet commented on #61
mp3 is not available for that song

[2021-01-27 07:24] jitendra1607 opened #62 "Need android app like this, ignore if you aren't android dev"
Please go through below link, it downloads whole Spotify playlist. We can have the same for jiosaavan.
The app is easy to use compared to the extension on a mobile phone, also the extension now allowing playlist download.

https://github.com/sheensantoscapadngan/SpotaFree

[2021-01-27 14:58] jitendra1607 opened #63 "Don't download already downloaded songs (can be overridden)"
Problem-
Suppose I downloaded some songs a day. Then after few days I again gets some time to download songs. The problem is that I forgot which songs I have already downloaded. So I may be downloading some of them again.

Solution-
We can save song ID in localstorage/index db which we are fetching from API. Then every new download attempt should be checked in this database, if ID matches then ale

[2021-01-28 17:28] jitendra1607 opened #64 "Download button not showing in suggestion list"
When we want to make a collection of similar songs then auto suggestions are very useful in jio saavn, but there is no download button there. Please enable it there also.

[![Screenshot-2021-01-28-22-52-54-696-com-kiwibrowser-browser.jpg](https://i.postimg.cc/9z3BJWch/Screenshot-2021-01-28-22-52-54-696-com-kiwibrowser-browser.jpg)](https://postimg.cc/sGcS2CB6)

[2021-03-15 08:43] cachecleanerjeet commented on #63
Will, Impliment it soon

[2021-03-15 08:44] cachecleanerjeet commented on #61
Fixed with https://github.com/naqushab/saavn-downloader-extension/commit/d42bf2b8435733562f22161616580b947a3cc136

[2021-03-15 08:44] #61 closed

[2021-03-15 08:44] cachecleanerjeet commented on #58
Fixed with https://github.com/naqushab/saavn-downloader-extension/commit/d42bf2b8435733562f22161616580b947a3cc136

[2021-03-15 08:44] #58 closed

[2021-03-15 08:47] cachecleanerjeet commented on #43
@ADVALAKI , Now it will update you by some notifications. Progress bar is not practical for https://github.com/naqushab/saavn-downloader-extension/commit/d42bf2b8435733562f22161616580b947a3cc136 as it have to fetch and convert the song into mp3. So it will update you with some notifications, if your download has been failed due to some reason, it will still notify you.

[2021-03-15 08:48] cachecleanerjeet commented on #24
Refresh the page

[2021-03-15 08:48] #24 closed

[2021-03-15 13:49] naqushab commented on #43
Workaround provided. Closing the issue.

[2021-03-15 13:49] #43 closed

[2021-03-18 19:12] #63 closed

[2021-03-19 00:59] ghost commented on #63
Thanks, any idea about this extension.
https://github.com/naqushab/gaana-downloader-extension

[2021-04-01 16:25] ghost commented on #20
Full playlist/album download option plz

[2021-04-01 16:25] ghost commented on #20
+1 for radio button

[2021-04-01 19:57] clx123 opened #68 ""TRACK" info in metadata"
While adding the metadata to the downloaded song, the "track" does not seem to be copied.
Rest all ID3 info are correct.
Please fix this.

Thanks.
Anchal

[2021-04-06 11:57] selfsubhro opened #69 "same error showing"
click download  show....  Sorry, That's an error

[2021-04-06 12:27] ghost commented on #69
@selfsubhro you try this extension
https://github.com/GrayGalaxy/jiosaavn-downloader
Some developed.

[2021-04-11 12:34] ravi0239 opened #70 "Download Problem"
Songs Not Downloaded, I will try to downloading song (SORRY,THAT'S AN ERROR) Showing...

[2021-04-11 13:20] ghost commented on #70
Related issue

#69

[2021-04-12 15:31] tuhinpal commented on #70
You tried in mobile? Look, this extension's download feature only works with pc. So, share more details for better inspection

[2021-04-13 15:49] jitendra1607 commented on #20
+1 for radio

[2021-04-13 15:50] jitendra1607 commented on #64
@naqushab its much needed, without this we can't build our favourite collection. Please implement this.

[2021-04-27 16:33] selfsubhro commented on #69
some error showing
![Desktop Screenshot 2021 04 27 - 21 54 25 95 (2)](https://user-images.githubusercontent.com/4771534/116278678-5b1c7980-a7a4-11eb-81b1-7d8f90f833c3.png)
![Desktop Screenshot 2021 04 27 - 21 54 41 78](https://user-images.githubusercontent.com/4771534/116278683-5c4da680-a7a4-11eb-9de9-7580823801c2.png)

[2021-05-20 19:31] oviirup opened #71 "FFMPEG caused high CPU usage"
**Describe the bug**
You are using FFMPEG to convert the mp4 file to mp4 but it usage CPU to good amount.
Che Edge task manager shows high `GPU Process`

**Screenshots**
![Screenshot 2021-05-21 005619](https://user-images.githubusercontent.com/49820575/119037644-18932a80-b967-11eb-8241-b30cdfb2a409.png)

[2021-05-20 19:37] oviirup opened #72 "Website crashed while downloading multiple file at once"
If you try to download multiple songs at once, and you click multiple download button you can recreate the problem. I think it is mainly due to some conflict within ffmpeg wasm. The conflict happens when ffmpeg is requested to convert a file while it is still working on the previous one
You may solve it by adding a waiting period... maybe

![image](https://user-images.githubusercontent.com/4982057

[2021-06-10 02:28] chaitrakiran2010 commented on #72
Temporary solution - refresh after download (shortcut KEY - F5)

[2021-06-30 17:57] tuhinpal commented on #71
I don't think this is a huge deal. This is quite normal.

[2021-06-30 17:57] #71 closed, assigned to naqushab

[2021-06-30 18:01] tuhinpal commented on #72
Use it wisely. It can be a memory allocation error.

[2021-06-30 18:01] #72 closed, assigned to naqushab

[2021-06-30 18:03] tuhinpal commented on #70
Closing this issue, feel free to reopen it if the issue is not resolved.

[2021-06-30 18:03] #70 closed, assigned to nobody

[2021-06-30 18:04] tuhinpal commented on #68
Sure, will check it soon.

[2021-07-13 00:41] Grannynorma opened #73 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to URL '...'
2. Click on '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the prob

[2021-07-21 06:33] manish272 opened #74 "[BUG] from 20 july 2021 songs are not downloading"
**Describe the bug**
When we download its showing error in this extention.
error is: -
SharedArrayBuffer will require cross-origin isolation as of M92, around July 2021. See https://developer.chrome.com/blog/enabling-shared-array-buffer/ for more details.

and in last it doesn't download song and gives error message "sorry that's and error" .

please resolve this issue.

[2021-07-21 08:05] CypherTj commented on #74
@manish272 If you comment line 132 in downloader.js and update the extension in browser then you will be able to download the songs but song will not have cover image.

[2021-07-21 08:08] CypherTj commented on #74
@naqushab Bro I think actual error is coming from cover image MIME type.
[code]
Hope this will help you debug the issue.

**Update:**
@naqushab I found out that link used for fetching cover-image returns connection timeout error. Might be the cause of issue.

[2021-07-21 10:37] manish272 commented on #74
nice sir,

now its downloading without image. thanks so much.

also if possible pls resolve this image issue also :)

thanks in advance.

[2021-07-22 12:52] selfsubhro commented on #74
[BUG] from 20 july 2021 songs are not downloading.... Please Fix This

[2021-08-02 05:28] evfugtis1024 opened #75 "download issue"
after  click on download button song not downloading and select quality also .
![Screenshot_20210802-105659_Kiwi Browser](https://user-images.githubusercontent.com/88305376/127808516-82160f7d-b779-4405-b1b4-0678882d3d38.jpg)
  whenever i want to download song it says  its an error .
i have used this extension before but after jiosaavn.com site change its not working .

[2021-08-02 14:36] Sjkboys123 opened #76 "Jio saavn Downloader"
jio saavn extension is not working
[saavn-downloader-extension-master.zip](https://github.com/naqushab/saavn-downloader-extension/files/6917673/saavn-downloader-extension-master.zip)

[2021-08-08 12:56] mdsaqib108 commented on #74
+1

[2021-08-08 12:57] md-saqib commented on #74
+1

[2021-08-11 07:24] manish272 opened #77 "[BUG] songs are not downloading from today"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to URL 'https://www.jiosaavn.com/album/bachpan-ka-pyaar/1ghRqpss-rI_'
2. Click on 'download button'
3. See error
4. its giving error "Uncaught (in promise) ReferenceError: notify is not defined
    at download_song_main (inject.js:73)"

please solve this problem.

[2021-09-01 16:44] digantasm opened #78 "Not working [BUG]"
Not Downloading / Not Working

"Sorry, That's an error !" while press download button

[2021-12-09 13:53] regex5440 opened #79 "There is no page-wrap class on jiosaavn"
Error on **Inject.js** on line 213, as there is no class named "page-wrap" on JioSaavn.

[2021-12-09 13:54] #79 closed, assigned to nobody

[2022-07-06 12:22] manish272 opened #80 "[BUG] Songs Not Downloading"
**Describe the bug**
songs not downloading
**To Reproduce**
Steps to reproduce the behavior:
1. Go to URL 'jiosaavn.com'
2. Click on 'download icon'
3. song will not download

**Expected behavior**
i found that https://jiosaavn-api.vercel.app/link its not working in your extension. please solve this problem.
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional

[2022-07-13 15:26] AbhayKumarMishraa opened #81 "saavn-downloader-extension zip file corrupt"
saavn-downloader-extension zip file is corrupt.
![Capture](https://user-images.githubusercontent.com/109232325/178771530-3f327d9e-6413-466a-a0ac-5c99cd4bdabb.PNG)

[2022-07-17 06:57] manish272 opened #82 "versel app serverless function not working."
versel app serverless function not working. please resolve the issue.

[2022-08-21 21:37] ankitsheth9 commented on #82
@naqushab @tuhinpal Please help.